body {
  font-family: "Barlow", sans-serif;
  background-color: #fff;
  margin: 0;
  font-size: 14px;
  color: #1b262c;
}

.weatherApp {
  display: block;
  margin: 50px auto 0px auto;
  width: 800px;
  border-radius: 15px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 10px 10px 40px #878787;
}
/* SEARCH FORM */
#search-form {
  text-align: center;
  padding: 20px;
}

#search-input {
  width: 300px;
  display: inline;
}

/* TODAY´S WEATHER */
#icon-weathercondition {
  display: inline;
}
.icon {
  display: block;
  margin: 0 auto;
}
#weathercondition {
  display: inline;
}
.day {
  font-size: 12px;
  font-weight: 100;
  margin-bottom: 0;
  position: relative;
  top: 20px;
}
.city {
  display: inline;
  font-size: 36px;
  font-weight: bold;
  position: relative;
  top: 20px;
}

.temperature {
  display: inline;
  font-size: 90px;
  font-weight: 900;
  position: relative;
  top: 10px;
}

.units {
  font-size: 90px;
  font-weight: 900;
  position: relative;
  top: 10px;

  /*font-size: 30px;
  font-weight: 900;
  position: relative;
  top: -53px;*/
}
ul {
  padding: 0;
}

li {
  font-size: 12px;
  font-weight: 100;
  list-style: none;
}

.col-md-6 {
  margin-top: 40px;
}

#fahrenheitButton {
  color: #1b262c;
  width: 45px;
  height: 35px;
  background-color: #bbe1fa;
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
  border-style: none;
  position: relative;
  top: -400px;
  left: 745px;
}
#fahrenheitButton a {
  font-size: 10px;
  text-decoration: none;
  font-weight: 900;
  position: relative;
  top: -2px;
  left: 2px;
  color: #1b262c;
}
/* WEATHER FORECAST*/

.forecast-day {
  font-size: 10px;
  text-align: center;
  color: #f9813a;
}

.forecast-temperature-unit {
  text-align: center;
}

.forecast-temperature {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  font-weight: bold;
  display: inline;
  margin: 0 auto;
  text-align: center;
}
.forecast-unit {
  font-size: 8px;
  text-align: center;
  position: relative;
  top: -8px;
  cursor: default;
}

.card-body {
  margin: 30px 0 20px 0;
  border-radius: 4px;
  background-color: #e8e8e8;
}

/* ICON */
.icon {
  width: 280px;
}
.source-code {
  text-align: center;
}
